@font-face {
  font-family: 'ABC Maxi Plus Variable Trial';
  src: url('/fonts/ABCMaxiPlusVariableTrial-Regular.woff2') format('woff2'),
      url('/fonts/ABCMaxiPlusVariableTrial-Regular.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
