@font-face {
  font-family: 'ABC Maxi Plus Variable Trial';
  src: url('/fonts/ABCMaxiPlusVariableTrial-Regular.woff2') format('woff2'),
      url('/fonts/ABCMaxiPlusVariableTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body {
  font-family: 'ABC Maxi Plus Variable Trial';
  padding: 0;
  margin: 0;
cursor: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

